<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.headertitle }}</title>
    <style>
      @media (min-width: 1200px) {
        h2{
          position: relative;
          left: 35%;
        }

        ul{
          position: relative;
          left: 35%;
        }

        ul ul {
          position: relative;
          left: 0;
        }

        li{
          max-width: 600px;
          word-wrap: break-word;
        }
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      {{ content }}
    </div>
  </body>
</html>
